################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DecimalToOtherBase/DecimalToOtherBase.VC.db
/DecimalToOtherBase/DecimalToOtherBase.VC.VC.opendb
